/node_modules
src/Conf/*
.env
.vscode/
backend/database
package-lock.json
.env

# Dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# dotenv environment variables file
.env

# SQLite Database
/database/*.db

# Temporary files
/temp
*.tmp
*.temp

# Nodemon configuration
nodemon.json
